$red:#DC3546;

$grey-100:#EBEBEB;
$grey-200:#989898;
$grey-400:#555555;
$black:#000000;

$yellow:#F1E52F;

$green-500:#188754;


$blue-100:#E6F8FF;
$blue-200:#C8FFED;
$blue-300:#43AEDA;
$blue-400:#0468BE;


$primary:$blue-400;
$danger: $red;
$light:$grey-400;
$info:$blue-300;
$accent:$blue-100;
$secondary:$blue-200;
$success:$green-500;
$dark:$grey-400;
$warning:$yellow;


